@model  TessaStoreReal.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Index";
}
<body class="password">
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 well membership text-center">
        <h2>Forgot Password</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="flex-container">
                <div class="form-group">
                    @Html.LabelFor(x => x.EmailAddress)
                    @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.EmailAddress)
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Send Password Reset Link" class="btn btn-primary button-width" />
                </div>
                </div>
                }
        </div>
    </div>
 </body>
        
