
@{
    ViewBag.Title = "ResetSent";
}
<body class="password">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 membership well text-center">
        <div class="flex-container">
            <h2>A link to reset your password has been sent to your email.  It will expire in 24 hours. </h2>
            @Html.ActionLink("Go To Homepage", "Index", "Home", null, new { @class="btn btn-primary button-width"})
         </div>
       </div>
      </div>
    </body>
